body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    user-select: none;
}

.container {
    position: relative;
    width: 90%; /* 追加 */
    max-width: 500px; /* 追加 */
    margin: 0 auto; /* 変更 */

}

#game {
    background-color: #ddd;
    border: 2px solid #000000;
    border-bottom: 2px dotted #ff0000;
    display: block;
    margin: auto;
    z-index: 1;
    width: 90%; /* 追加 */
}

.difficult {
    display: inline;
    position: absolute;
    color: black;
    font-size: 30px;
    font-weight: bold;
    z-index: 2;
    top: -35px; /* 上端に配置 */
    left: 30px; /* 左端に配置 */
}

.text {
    width: 100%;
    display: block;
    position: absolute;
    color: #000000;
    font-size: 60px;
    font-weight: bold;
    top: 150px;
    z-index: 3;
    text-align: center;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1; /* 透明度の初期値 */
    }
    to {
        opacity: 0; /* 透明度の最終的な値 */
    }
}

.btn-container {
    width: 90%;
    height: 40px;
    position: absolute; /* 追加 */
    left: 50%; /* 追加 */
    transform: translateX(-23%); /* 変更 */
}

.btn {
    width: 20%;
    height: 35px;
    opacity: 0.7;
    margin: 5px;
}
